@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&family=Poppins:wght@700&display=swap')

// ## Colors
// ### Primary
$Pink: hsl(322, 100%, 66%)
$LightPink: hsl(321, 100%, 78%)
$LightRed: hsl(0, 100%, 63%)

// ### Neutral
$VeryDarkCyan: hsl(192, 100%, 9%)
$VeryPaleBlue: hsl(207, 100%, 98%)

// ## Typography
// ### Headings
$fontFamyliPoppins: 'Poppins', sans-serif

// - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
// - Weights: 700
// ### Body
$fontFamyliSans: 'Open Sans', sans-serif

@mixin bgSectionTop($img)
  content: ''
  width: 100%
  height: 140px
  display: block
  position: absolute
  top: -140px
  z-index: -1
  background-image: url($img)

@mixin bgSectionBottom($img)
  width: 100%
  height: 140px
  content: ''
  display: block
  position: absolute
  bottom: -125px
  background-image: url($img)
  z-index: -1

@mixin btnStart()
  width: 250px
  padding: 10px
  background: $Pink
  text-align: center
  color: white
  text-decoration: none
  border-radius: 40px
  display: inline-block

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $fontFamyliSans

.header
  padding: 70px 50px
  display: flex
  flex-direction: column
  align-items: center
  .header__nav
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    .nav__logo
      height: 35px
    .nav__link
      border: 1px solid $Pink
      color: $Pink
      text-decoration: none
      padding: 5px 20px
      border-radius: 30px
  .header__title
    text-align: center
    color: $VeryDarkCyan
    font-family: $fontFamyliPoppins
    margin: 150px 0 20px
  .header__information
    text-align: center
    max-width: 500px
    font-weight: 600
  .header__link
    @include btnStart()
    margin: 25px 0 90px

.main
  .main__informationNumbers
    display: flex
    justify-content: space-around
    .informationNumbers__communities
      display: flex
      flex-direction: column
      .communities__icon
        width: 40px
    .informationNumbers__messages
      display: flex
      flex-direction: column
      .messages__icon
        width: 40px
  .main__section
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    margin-block: 200px
    .section__information
      .information__title
        font-family: $fontFamyliPoppins
        margin-block-end: 20px
      .information__details
        max-width: 545px
        font-weight: 600
    .section__illustration
      max-width: 350px

    &:nth-child(2)
      background: $VeryPaleBlue
      &::after
        @include bgSectionTop($img: './../images/bg-section-top-desktop-1.svg')
      &::before
        @include bgSectionBottom($img: './../images/bg-section-bottom-desktop-1.svg')

    &:nth-last-child(2)
      background: $VeryPaleBlue
      &::after
        @include bgSectionTop($img: './../images/bg-section-top-desktop-2.svg')
      &::before
        @include bgSectionBottom($img: './../images/bg-section-bottom-desktop-2.svg')
  .main__footer
    text-align: center
    margin-block: 200px
    .footer__title
      font-family: $fontFamyliPoppins
      margin-block-end: 25px
    .footer__link
      @include btnStart()

.footer
  position: relative
  background: $VeryDarkCyan
  color: white
  padding: 100px 50px
  display: flex
  justify-content: space-between
  flex-wrap: wrap-reverse
  font-size: .8em
  .footer__informationContact
    max-width: 300px
    .informationContact__logo
      height: 35px
      fill: white
    .informationContact__information
      margin-block: 10px 30px
    .informationContact__contact
      .contact__phone
        display: flex
        align-items: center
        gap: 10px
        margin-block-end: 15px
      .contact__email
        display: flex
        align-items: center
        gap: 10px
        font-weight: 400

    .informationContact__social

  .footer__newsletter
    max-width: 390px
    .newsletter__title
      font-family: $fontFamyliPoppins
      font-size: 1.3rem
      text-transform: uppercase
    .newsletter__information
      margin-block: 20px 25px
      max-width: 300px
    .newsletter__form
      width: 100%
      display: flex
      justify-content: space-between
      gap: 20px
      .form__email
        padding: 5px
        width: 390px
        outline: none
        border: none
        border-radius: 5px
        color: $VeryDarkCyan
      .form__submit
        border: none
        background: $Pink
        color: white
        padding: 10px 20px
        outline: none
        border-radius: 5px
        cursor: pointer

  .footer__attribution
    position: absolute
    bottom: 10px
    left: 50%
    transform: translateX(-50%)
    .attribution
      font-size: 11px
      text-align: center
      a
        color: $Pink
        font-family: $fontFamyliPoppins
        text-decoration: none
  &::after
    @include bgSectionTop($img: './../images/bg-footer-top-desktop.svg')
    background-size: cover
    left: -50px
    width: calc( 100% + 50px )
