@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&family=Poppins:wght@700&display=swap')

// ## Colors
// ### Primary
$Pink: hsl(322, 100%, 66%)
$LightPink: hsl(321, 100%, 78%)
$LightRed: hsl(0, 100%, 63%)

// ### Neutral
$VeryDarkCyan: hsl(192, 100%, 9%)
$VeryPaleBlue: hsl(207, 100%, 98%)

// ## Typography
// ### Headings
$fontFamyliPoppins: 'Poppins', sans-serif

// ### Body
$fontFamyliSans: 'Open Sans', sans-serif

@mixin bgSectionTop($height, $positionY, $img)
  content: ''
  width: 100%
  height: $height
  display: block
  position: absolute
  top: $positionY
  z-index: -1
  background-image: url($img)
  background-repeat: no-repeat

@mixin bgSectionBottom($img)
  width: 100%
  height: 140px
  content: ''
  display: block
  position: absolute
  bottom: -125px
  background-image: url($img)
  z-index: -1
  background-repeat: no-repeat

@mixin btnStart()
  width: 250px
  padding: 10px
  background: $Pink
  text-align: center
  color: white
  text-decoration: none
  border-radius: 40px
  display: inline-block

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: $fontFamyliSans

.header
  padding: 70px 50px
  display: flex
  flex-direction: column
  align-items: center
  .header__nav
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    .nav__logo
      height: 35px
    .nav__link
      border: 1px solid $Pink
      color: $Pink
      text-decoration: none
      padding: 5px 20px
      border-radius: 30px
      &:hover
        filter: saturate(.55) brightness(1.4) hue-rotate(9deg)

  .header__title
    text-align: center
    color: $VeryDarkCyan
    font-family: $fontFamyliPoppins
    margin: 150px 0 20px
  .header__information
    text-align: center
    max-width: 500px
    font-weight: 600
  .header__link
    @include btnStart()
    margin: 25px 0 90px
    &:hover
      filter: saturate(.55) brightness(1.4) hue-rotate(9deg)
  .header__mockups
    max-width: 90%

.main
  .main__informationNumbers
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    gap: 20px
    .informationNumbers__communities
      display: flex
      flex-direction: column
      .communities__icon
        width: 35px
      .communities__informationNumber
        color: $VeryDarkCyan
        font-weight: 400
        text-align: center
        .informationNumbers__number
          font-size: 3em
          font-family: $fontFamyliPoppins
          color: $VeryDarkCyan
    .informationNumbers__messages
      display: flex
      flex-direction: column
      .messages__icon
        width: 35px
      .messages__informationNumber
        color: $VeryDarkCyan
        font-weight: 400
        text-align: center
        .informationNumbers__number
          font-size: 3em
          font-family: $fontFamyliPoppins
          color: $VeryDarkCyan
  .main__section
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    margin-block: 200px
    padding: 0 20px
    gap: 30px
    .section__information
      .information__title
        font-family: $fontFamyliPoppins
        margin-block-end: 20px
      .information__details
        max-width: 545px
        font-weight: 600
    .section__illustration
      max-width: 350px

    &:nth-child(2)
      background: $VeryPaleBlue
      &::after
        @include bgSectionTop( 140px, -140px, './../images/bg-section-top-desktop-1.svg')
      &::before
        @include bgSectionBottom( './../images/bg-section-bottom-desktop-1.svg')

    &:nth-last-child(2)
      background: $VeryPaleBlue
      &::after
        @include bgSectionTop( 140px, -140px , './../images/bg-section-top-desktop-2.svg')
      &::before
        @include bgSectionBottom('./../images/bg-section-bottom-desktop-2.svg')
  .main__footer
    text-align: center
    margin-block: 200px
    .footer__title
      font-family: $fontFamyliPoppins
      margin-block-end: 25px
    .footer__link
      @include btnStart()
      &:hover
        filter: saturate(.55) brightness(1.4) hue-rotate(9deg)
.footer
  position: relative
  background: $VeryDarkCyan
  color: white
  padding: 100px 50px
  display: flex
  justify-content: space-between
  flex-wrap: wrap-reverse
  font-size: .8em
  .footer__informationContact
    max-width: 300px
    .informationContact__logo
      height: 35px
      fill: white
    .informationContact__information
      margin-block: 10px 30px
    .informationContact__contact
      .contact__phone
        display: flex
        align-items: center
        gap: 10px
        margin-block-end: 15px
      .contact__email
        display: flex
        align-items: center
        gap: 10px
        font-weight: 400

    .informationContact__social
      display: flex
      gap: 20px
      margin-block-start: 40px
      transition: 1s
      .social__icon
        width: 25px
        &:hover
          fill: skyblue
          .cls-1
            stroke: skyblue
            fill: skyblue
          .cls-2
            stroke: skyblue
          .cls-3
            stroke: skyblue

      .social__icon-facebook
        fill: white
      .social__icon-instagram
        .cls-1
          fill: #fff
        .cls-2
          stroke-width: 4.89px
          fill: none
          stroke: #fff
          stroke-miterlimit: 10
        .cls-3
          stroke-width: 6.18px
          fill: none
          stroke: #fff
          stroke-miterlimit: 10
          &:hover

      .social__icon-twitter
        fill: white

  .footer__newsletter
    max-width: 390px
    margin-block-end: 60px
    .newsletter__title
      font-family: $fontFamyliPoppins
      font-size: 1.3rem
      text-transform: uppercase
    .newsletter__information
      margin-block: 20px 25px
      max-width: 300px
    .newsletter__form
      width: 100%
      display: flex
      justify-content: space-between
      align-items: flex-start
      flex-wrap: wrap
      gap: 20px
      div
        display: flex
        flex-direction: column
        .form__email
          padding: 10px
          width: 250px
          outline: none
          border: none
          border-radius: 5px
          color: $VeryDarkCyan
        span
          color: red
          font-size: .9em
          margin: 5px 0
          display: inline-block
          opacity: 0
          transition: 1s
      .form__submit
        border: none
        background: $Pink
        color: white
        padding: 10px 20px
        outline: none
        border-radius: 5px
        cursor: pointer
        &:hover
          filter: saturate(.55) brightness(1.4) hue-rotate(9deg)

  .footer__attribution
    position: absolute
    bottom: 10px
    left: 50%
    transform: translateX(-50%)
    .attribution
      font-size: 11px
      text-align: center
      a
        color: $Pink
        font-family: $fontFamyliPoppins
        text-decoration: none

  &::after
    @include bgSectionTop( 140px,  -140px, './../images/bg-footer-top-desktop.svg')
    background-size: cover
    left: -50px
    width: calc( 100% + 50px )

@media screen and ( max-width: 700px )
  .header
    padding: 70px 20px
    .header__nav
      .nav__logo
        height: 25px
      .nav__link
        padding: 5px 10px
  .main
    .main__section
      flex-wrap: wrap
      text-align: center
      &:nth-child(2)
        flex-wrap: wrap-reverse
      &:nth-last-child(2)
        flex-wrap: wrap-reverse

@media screen and ( max-width: 400px )
  .header
    padding: 30px 10px
    .header__title
      margin: 100px 0 20px
  .main
    .main__section
      .section__illustration
        width: 90%
      &:nth-child(2)
        &::after
          @include bgSectionTop(100px, -100px, './../images/bg-section-top-mobile-1.svg')
        &::before
          @include bgSectionBottom('./../images/bg-section-bottom-mobile-2.svg')
      &:nth-last-child(2)
        &::after
          @include bgSectionTop( 100px, -100px, './../images/bg-section-top-mobile-2.svg')
        &::before
          @include bgSectionBottom( './../images/bg-section-bottom-mobile-2.svg')
          background-position: center
          bottom: -120px

  .footer
    padding: 100px 15px
    .footer__informationContact
      width: 100%
    .footer__newsletter
      width: 100%
    &::after
      @include bgSectionTop(60px,  -60px, './../images/bg-footer-top-mobile.svg')
      left: -50px
      width: calc( 100% + 50px )
